/* Ruchella Kock
12460796 */

.dataInfo {
height: 300px;
width: 100%;
background-color: #bae4bc;
}
.paragraphs {
text-align: center;
height: 200px;
width: 1000px;
font-size: 18px
}
.catImage {
  position: absolute;
  top: 70px;
  left: 1100px;
  width:375px;
  height:280px;
}
.WHOimage {
  position: absolute;
  top: 400px;
  left: 1000px;
  width:500px;
  height:250px;
}
