/* Ruchella Kock
12460796 */

.flower {
  position: relative;
  top: -450px;
  left: 0px;
  width:100%;
  height:800px;
}

.quote {
  position: absolute;
  color: white;
  top: 150px;
  left: 20%;
}
.author {
  position: absolute;
  color: white;
  top: 210px;
  left: 75%;
}

.card1 {
  position: absolute;
  top: 400px;
  left: 50px;
}

.card2 {
  position: absolute;
  top: 400px;
  left: 550px;
}
.card3 {
  position: absolute;
  top: 400px;
  left: 1050px;
}
p, .card-title {
  text-align: center
}

#button{
  text-align: center;
}
