/* Ruchella Kock
12460796 */

/* SLIDER */
#slider {
  position: absolute;
  top:500px;
}

/* Map */
.mytooltip
{
  /* position relative to previous pos */
  position:absolute;
  /*  align box */
  text-align: left;
  /*  width of box*/
  width: 100px;
  height: 50;
  /*  color of box */
  background-color: #FFA07A;
  /*  make it round*/
  border-radius: 5px;
  /*  color of text */
  color: #000000;
  /* adjust box size */
  /* padding: 5px 10px; */
}

/*  text inside box */
.mytooltip span
{
  display: block;
  text-align: center;
  width: 100px;
  height: auto;
  margin: 5px auto;
}

/* .worldMap{
  position: absolute;
  left: 100px;
  width: 100%;
  height: 100%;
} */

.boxMap {
  position: absolute;
  top: 100px;
  left: 1000px;
  width: 500px;
  text-align: center;
  font-family: Georgia;
}

.subBoxMap {
  position: absolute;
  top: 250px;
  left: 80px;
  width: 300px;
  height: 150px;
  border: solid black 0.5px;
  font-family: Georgia;
  line-height: normal;
  /* text-align: left; */
}

.subBoxMap div {
  visibility: hidden;
}
.countryStatistics {
  display: inline-block;
  margin-left: 10px;
}

.label{
  font-weight: bold;
  float:left;
}

.val{
  float:left;
  margin-left: 3px;
}

/*  Barchart */
.barChart{
  position: absolute;
  top: 650px;
  left: 50px;
  height: 650px;
  overflow: scroll;
}

/* DROPDOWN */
/* MAY BE REMOVED LATER */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  /* top: 50px; */
  left: 750px;
  display: inline-block;
}

.button {
  position: absolute;
  top: -80px;
  left: 300px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* TOOLTIP */
/*  Source: http://bl.ocks.org/micahstubbs/8e15870eb432a21f0bc4d3d527b2d14f */
.tooltip {
  position: absolute;
  line-height: 1.5;
  font-weight: 1000;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFA500;
  border-radius: 1px;
  pointer-events: none;
  text-align: center;
}

/* .practice {
  position: absolute;
  top: 100px;
  left: 500px;
} */

/* SUNBURST */

body {
    font-family: Sans-serif;
    font-size: 6px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: black;
    stroke-width: 0.2px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

.sunburst {
  position: absolute;
  top: 650px;
  left: 700px;
}
